button {
    background-color: beige;
    border: 2px, solid, dimgray;
    font-size: 18px;
    color: dimgray;
    font-weight: 800;
    font-family: "Geist Mono", monospace;
    padding: 10px;
}

.homebutton {
    background-color: rgb(195, 210, 242);
}

button:hover {
    color: beige;
    background-color: dimgray;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
}

body {
    font-family: "Geist Mono", monospace;
    background-color: rgb(211, 205, 221);
}

#interactions-box {
    border: 3px, solid, dimgray;
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 10px;
}

html {
    display: flex;
    justify-content: center;
}